// 颜色定义规范
$color-background: #222141;
$color-background-white: #fff;
$color-background-mask: rgba(0,0,0,.7);
$color-theme: #D52282;
$color-text: #2a3037;
$color-text-white: #fff;

//字体定义规范
$font-size-small-s: 10px;
$font-size-small: 12px;
$font-size-medium: 14px;
$font-size-medium-x: 16px;
$font-size-large: 18px;
$font-size-large-x: 20px;
